  .Control{
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: #272121;
    z-index: -1;
    overflow: hidden;
  }

  @media (max-width:500px) {
    .Control{
      width:400px;
    }
  }
