.Menu {
  z-index: 500;
  position: fixed;
  top:20px;
  right:20px;
  font-family: sans-serif;
  text-transform: capitalize;
  display: inline;
}

.Lable{
  position: relative;
  float: right;
  bottom: 10px;
  padding:0;
  margin-top:300px;
  margin-left: 50px;
}
