.Logo{
float: left;
margin-top: 10px;
}

.Logo img{
  margin-top: 10px;
  float: left;
  height: 30px;
  width: 30px;
  display: inline;
  padding-right: 5px;

}

.Logo h2{
  float: left;
  color: white;
  display:inline;
}

.Logo span{
  color: red;
}
